body{
    background-image: url("../Images/background12.png");
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    z-index: 0;
}

.header{
    margin: 0.5% 15%;
}

.header .header-links{
    float: right;
    padding-top: 25px;
}

.header-links a{
    text-decoration: none;
    color: #9B9B9B;
    padding: 0px 5px;
    font-size: 13px;
}


.header-links .pipe::after{
    content: "|";
    padding-left: 10px;
}

.nav-container{
    padding: 1px;
    background-color: white;
    border: 1px solid #D6D4D5;
}

.nav-container .navbar{
    background-color: #D6D4D5;
    padding: 0.5% 15%;
}

.navbar a{
    color: #767475;
    text-decoration: none;
    padding: 0px 5px;
    font-size: 13px;
}

.navbar .pipe::after{
    content: "|";
    padding-left: 10px;
    color: white;
}

.navbar .search-bar{
    float: right;
    display: inline;
}

.search-bar input{
    box-shadow: 1px 1px 1px 1px inset #353332;
    border-radius: 2px;
    border: none;
    padding: 3px 5px;
}

.search-bar input::placeholder{
    font-size: 11px;
}

.search-bar button{
    border-radius: 5px;
    border: 1px solid grey;
}

.offers{
    padding: 0% 15%;
    display: flex;
    justify-content: space-between;
}

.offers .current-offers{
    padding: 15px 0px 10px 0px;
}

.current-offers p{
    display: inline;
    color: #9097A7;
    padding: 0px 5px;
    font-size: 13px;
}

.current-offers ul{
    display: inline;
    margin: 0px;
    padding: 0px;
}

.current-offers li{
    display: inline;
    color: #9097A7;
    padding-left: 15px;
    font-size: 13px;
    
}

.offers .bridal-offers{
    float: right;
    display: flex;
    align-items: center;
}

.bridal-offers a{
    color: #767475;
    text-decoration: none;
    font-size: 13px;
    padding: 0px 40px 0px 10px;
}

.below-offers{
    margin: 0px;
}

.recipe{
    margin: 0% 15%;
    padding: 7px;
    display: flex;
    background-color: white;
}

.recipe img{
    flex: 5;
    padding-right: 7px;
}

.recipe .options-container{
    flex: 2;
    background: linear-gradient(180deg, rgba(49,47,47,1) 0%, rgba(67,66,64,1) 50%, rgba(56,55,53,1) 100%);
}

.options-container .options-menu{
    border: #4D4B4A 2px solid;
    margin: 7px;
    padding: 30px 20px 20px 20px;
    height: 85%;
}

.options-menu h2{
    color: white;
    font-weight: 400;
}

.options-menu .bottom-borderline{
    border-bottom: #4D4B4A 2px solid;
}

.options-menu p{
    color: #9E9C9B;
    font-weight: 400;
    font-size: 12px;
}

.options{
    margin-bottom: 30px;
}

.options p{
    margin: 5px 0px;
    color: white;
    font-size: 14px;
    font-weight: 300;
    padding: 5px 0px;
}

.options-menu a{
    color: #9E9C9B;
    text-decoration: none;
    font-size: 13px;
}

.options-menu hr{
    margin: 0px;
}

.promo-container{
    border: 5px solid black;
    display: flex;
    margin: 0% 15%;
    background-color: white;
    height: 175px;
    padding-top: 10px;
}

.promo-container h3{
    color: #353332;
    font-size: 14px;
    margin: 7px 0px;
    z-index: +1;
}

.promo-container h5{
    color: #4D4B4A;
    font-size: 12px;
    margin: 5px 0px;
}

.promo-container a{
    color: #434978;
    text-decoration: none;
    font-size: 12px;
}

.promo-glass{
    flex: 1;
    padding: 0px 20px;
    position: relative;
    background-image: url("../Images/promo_glass.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: left;
}

.promo-glass,.promo-plates h3{
    text-align: left;
}

.promo-glass,.promo-plates h5{
    text-align: left;
}

.promo-album h3{
    width: 60%;
    text-align: left;
}

.promo-album h5{
    width: 60%;
    text-align: left;
}

.promo-glass a{
    padding-top: 10px;
    float: right;
}

.promo-plates a{
    padding-top: 10px;
    float: right;
}

.promo-plates{
    border-left: 1px solid #E8E8E8;
    flex: 1;
    padding: 0px 20px;
    position: relative;
    background-image: url("../Images/promo_plates.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}

.promo-album{
    flex: 1;
    padding: 0px 20px;
    border-left: 1px solid #E8E8E8;
    position: relative;
    background-image: url("../Images/promo_album.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.footer{
    margin: 0.5% 15%;
    display: flex;
    padding-bottom: 50px;
}

.footer .footer-1{
    flex: 2;
}

.footer .footer-2{
    flex: 1;
}

.footer-2 p{
    color: #878586;
    margin: 0px;
    font-size: 12px;
    float: right;
}

.footer-2 .footer-signup{
    padding-top: 10px;
    padding-left: 40px;
    float: left;
}

.footer-signup input::placeholder{
    font-size: 10px;
}

.footer-signup button{
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 10px;
    padding: 3px 5px;
    margin-left: 5px;
}

.footer-signup input{
    box-shadow: 1px 1px 1px 1px inset #353332;
    border-radius: 2px;
    border: none;
    padding: 3px 5px;
}

.footer-1 p{
    color: #878586;
    margin: 0px;
    font-size: 12px;
    padding-top: 5px;
}

.footer-1 a{
    color: #878586;
    padding-left: 3px;
    font-size: 12px;
}

.footer1-links a{
    color: #878586;
    padding-right: 10px;
    font-size: 12px;
}